# Лабораторная №1. Основы предобработки данных

Используйте файл своей группы. <br>
Загрузите его в DataFrame и ответьте на вопросы, используя инстурменты из файла Preprocessing basics.ipynb (и не только).


#### Воспросы
1. В какой шкале представлены все признаки в наборе?<br>
2. Укажите признак с наименьшей дисперсией.<br>
3. Медиана какого признака отличается для двух классов сильнее всего?<br>
4. В каком классе больше всего unskilled работников мужского рода?<br>
5. Есть ли в наборе признаки с выбросами? Какие?<br>
6. Сколько пропущенных значений в наборе? Как они обозначены <br>
7. Попытайтесь заполнить пропущенные значения минимум двумя способами.<br>
8. Как минимум для одного признака каждого типа постройте диаграмму, которая может помочь его исследовать.<br>
9. Проанализируйте взаимосвязи признаков с помощью scatter plot матрицы и тепловой карты корреляций. Какие выводы можно сделать?<br>
10. Какой признак(и) имеет смысл стандартизировать? Почему?<br>
11. Какой признак(и) (если такой(ие) есть) кажется вам проблематичным? Что бы вы предложили с ним сделать?<br>
12. Придумайте 1 новый признак, попытайтесь объяснить, почему он информативный.<br>

**German Credit data** <br>
This dataset classifies people described by a set of attributes as good or bad credit risks ('class' attribute). <br>
1. checking_status -  Status of existing checking account, in Deutsche Mark.
2. duration - Duration in months
3. credit_history - Credit history (credits taken, paid back duly, delays, critical accounts)
4. purpose - Purpose of the credit (car, television,…)
5. credit_amount - Credit amount
6. savings_status - Status of savings account/bonds, in Deutsche Mark.
7. employment - Present employment, in number of years.
8. installment_commitment - Installment rate in percentage of disposable income
9. personal_status - Personal status (married, single,…) and sex
10. other_parties - Other debtors / guarantors
11. property_magnitude - Property (e.g. real estate)
12. age - Age in years
13. other_payment_plans - Other installment plans (banks, stores)
14. housing - Housing (rent, own,…)
15. existing_credits - Number of existing credits at this bank
16. job - Job
17. num_dependents - Number of people being liable to provide maintenance for
18. own_telephone - Telephone (yes,no)
19. foreign_worker - Foreign worker (yes,no)

In [6]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

from sklearn import datasets
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

np.set_printoptions(precision=3)
pd.set_option('display.precision', 3)

sns.set()

In [7]:
path='credit_3530203_80101.csv'
credit_df = pd.read_csv(path, index_col=0)

In [30]:
credit_df.head()

,checking_status,duration,credit_history,credit_amount,employment,personal_status,other_parties,residence_since,property_magnitude,age,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,1169.0,>=7,male single,none,4.0,real estate,67.0,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,5951.0,1<=X<4,female div/dep/mar,none,2.0,real estate,22.0,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,2096.0,4<=X<7,male single,none,3.0,real estate,49.0,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,7882.0,4<=X<7,male single,guarantor,4.0,life insurance,45.0,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,4870.0,1<=X<4,male single,none,4.0,no known property,53.0,for free,2.0,skilled,2.0,none,yes,bad

**В какой шкале представлены все признаки в наборе?**

credit_history, personal_status other_parties, property_magnitude, housing, job - номинальная

credit_amount, age, existing_credits, num_dependents, duration  - абсолютная

checking_status, employment - интервальная

own_telephone, foreign_worker, class - бинарная

residence_since - ???????????????????????????

In [25]:
credit_df_abs = credit_df[['credit_amount', 'age', 'existing_credits', 'num_dependents', 'duration']]
credit_df_abs.var()

credit_amount       8.06082877e+06
age                 1.31470379e+02
existing_credits    3.23073852e-01
num_dependents      1.23305389e-01
duration            1.46480343e+02
dtype: float64

In [27]:
credit_df_abs[credit_df['class'] == 'good'].mean()

credit_amount       2848.93956044
age                   35.82142857
existing_credits       1.39835165
num_dependents         1.14010989
duration              18.45604396
dtype: float64

num_dependents - признак с наименьшей дисперсией

In [29]:
mean = pd.DataFrame([credit_df_abs[credit_df['class'] == 'good'].mean(), credit_df_abs[credit_df['class'] == 'bad'].mean()])
mean

   credit_amount          age  existing_credits  num_dependents     duration
0  2848.93956044  35.82142857        1.39835165      1.14010989  18.45604396
1  4104.29197080  34.68613139        1.37956204      1.15328467  25.25547445